<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>

  <!-- prettier-ignore-attribute -->
  <div>
    <% if(messages.accountCreated) { %>
    <li>
      <%= messages.accountCreated %>
    </li>
    <% } %>

    <% if(messages.logOutSuccess) { %>
    <li>
      <%= messages.logOutSuccess %>
    </li>
    <% } %>

    <% if(messages.error) { %>
    <li>
      <%= messages.error %>
    </li>
    <% } %>
  </div>

  <form action="/login" method="POST">
    <div>
      <input type="text" id="username" name="username" placeholder="Username" required />
    </div>
    <div>
      <input type="password" name="password" id="password" placeholder="Password" required />
    </div>
    <div>
      <input type="submit" value="Login" />
    </div>
    <div>
      <a href="/register">Not Registered? Sign up here</a>
    </div>
  </form>
</body>

</html>